DITIOCNARIES
..MYDICT

In [4]:
mydict={1:'chocolate',2:'icecream'}
print(mydict[1])
mydict[1]='pizza'
print(mydict)
del(mydict[2])
print(mydict)
a=len(mydict)
print(a)

chocolate
{1: 'pizza', 2: 'icecream'}
{1: 'pizza'}
1

..MYCOURSE

In [14]:
mycourse={'ms':'python','it':'c','cse':'c++','mca':'java'}
a=len(mycourse)
print(a)
print(list(mycourse.keys()))
print(mycourse['ms'])
mycourse['ms']='cloudcomputing'
print(mycourse)
print(tuple(mycourse.values()))
mycourse.update({'msc':'data science','bsc':'Maths'})
print(mycourse)
mycourse.pop('it')
print(mycourse)

4
['ms', 'it', 'cse', 'mca']
python
{'ms': 'cloudcomputing', 'it': 'c', 'cse': 'c++', 'mca': 'java'}
('cloudcomputing', 'c', 'c++', 'java')
{'ms': 'cloudcomputing', 'it': 'c', 'cse': 'c++', 'mca': 'java', 'msc': 'data science', 'bsc': 'Maths'}
{'ms': 'cloudcomputing', 'cse': 'c++', 'mca': 'java', 'msc': 'data science', 'bsc': 'Maths'}

..JOBS

In [3]:
jobs=[]
jobs.append('developer')
jobs.append('manager')
print(jobs)
rec={}
rec['name']='bob'
rec['age']=40.6
rec['job']=jobs
print(rec)
jobs =()
jobs1=('asst. manager','programmer')
rec['job']=jobs1
print(rec)
print(rec['job'][0])

['developer', 'manager']
{'name': 'bob', 'age': 40.6, 'job': ['developer', 'manager']}
{'name': 'bob', 'age': 40.6, 'job': ('asst. manager', 'programmer')}
asst. manager

WE CAN MAKE DICTIONARY USING TUPLES

In [8]:
a=dict(name='bob',age=40)
b=dict([('name','bob'),('age',40)])
print(a)
print(b)
print(b.keys() , b.values())

{'name': 'bob', 'age': 40}
{'name': 'bob', 'age': 40}
dict_keys(['name', 'age']) dict_values(['bob', 40])

In [12]:
D={k: v for (k,v) in zip(['a','b','c'],[1,2,3])}
print(D)
E={x:x**2 for x in [1,2,3,4]}
print(E)
f={x:x**2 for x in range(1,5)}
print(f)

{'a': 1, 'b': 2, 'c': 3}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16}

In [20]:
d=dict.fromkeys(['a','b','c'],0)
d1=dict.fromkeys(['a','b','c'],[10,20,30])
print(d1)
d2={k:0 for k in [10,20,30]}
print(d2)
print(d.items())
print(str(d2))
print(len(d2))

{'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30]}
{10: 0, 20: 0, 30: 0}
dict_items([('a', 0), ('b', 0), ('c', 0)])
{10: 0, 20: 0, 30: 0}
3

COUNTRY CAPITAL

In [51]:
cont={'India':'New Delhi','USA':'Wasington','Germany':'Berlin','Greece':'Athens','Indonesia':'Jakarta','Japan':'Tokyo','Portugal':'Lisbon','Russia':'Moscow'}
#print(cont['India'])
#print(cont)
a=list(cont.keys())
b=list(cont.values())

name=input('Enter country name to find:')
for i in range(len(cont)+1):
  if name == a[i]:
      print("The capital of the ",name," is ",b[i])
      break
  else:
      print("Country is not in the list.")

Country is not in the list.
The capital of the  USA  is  Wasington

Find the costliest item from a super market rate table using dictionary. Minimum 5 products /items to be considered.
Moreover, print all the products with rate as a table.

In [31]:
items={'Nokia':20000,'samsung':25000,'mi':10000,'oppo':30000,'realme':15000,'vivo':27000,'iphone':50000}
a=items.values()
b= max(a)
print(b)
print(items)

50000
{'Nokia': 20000, 'samsung': 25000, 'mi': 10000, 'oppo': 30000, 'realme': 15000, 'vivo': 27000, 'iphone': 50000}